$color-primary: #107895;
.genres {
  background-color: $color-primary;
  display: flex;
  padding: 2rem;
  position: relative;
  width: 100%;
}
.genres-container {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.genre-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-align: center;
  width: 33%;
  .genre-title {
    color: white;
    font-size: 3rem;
  }
  .genre-icon {
    color: white;
    font-size: 12rem;
  }
  .genre-description {
    color: white;
    font-size: 2rem;
    margin: 2rem;
  }
  .genre-link {
    text-decoration: none;
  }
  .genre-button {
    // color: rgb(141, 97, 230);
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 1rem;
    color: $color-primary;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 4.5rem;
    justify-content: center;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    width: 18rem;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: translateY(-2px);
    }
  }
}
@media (max-width: 1024px) {
  .genres {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .genres-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .genre-section {
    align-items: center;
    height: min-content;
    justify-content: space-between;
    margin: 2rem;
    width: 80%;
  }
}
